<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Название закладки</title>

  </head>
  <body>
    <h1>Cat photo app</h1>
    <main>
      <p>Today is {{ current_date }} <br> ! riabow.com is under construction !
      Click here to view some <a href="https://http.cat">cat photos</a>.</p>
      <img src="{% static 'images/relaxing-cat.jpg' %}" alt="ОРАНЖЕВОЕ КОШКО">
      <p>We're collecting info about our visitors' cats, so if you're willing you can take a survey following a link bellow.</p>
<!--      <h2><a href="pageB.html">Take a survey!</a></h2>-->
    </main>
  </body>
  <footer>
    (c) Wolodia Riabow
  </footer>
</html>>
